{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-8">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h1 class="text-center mb-4">Welcome to Task Scheduler</h1>
                    {% if current_user.is_authenticated %}
                    <div class="d-flex justify-content-between mb-3">
                        <h2>Your Tasks:</h2>
                        <form class="mb-3">
                            <label for="sortSelect" class="form-label">Sort by:</label>
                            <a href="{{ url_for('main.sortByDeadline') }}" class="btn btn-outline-primary btn-sm me-2">Deadline</a>
                            <a href="{{ url_for('main.sortByImportance') }}" class="btn btn-outline-primary btn-sm me-2">Importance</a>
                        </form>
                    </div>
                        {% if tasks %}
                            <ul class="list-group">
                                {% for task in tasks %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <div>
                                            <div class="form-check">
                                                {% if (task.deadline - currentDateTime).days <= 1 and task.status != 'Expired' %}
                                                <ul id="nav">
                                                    <label class="form-check-label" for="completed-{{ task.id }}">
                                                        <h5 class="mb-0">{{ task.title }}</h5>
                                                    </label>
                                                </ul>
                                                {% else %}
                                                    <label class="form-check-label" for="completed-{{ task.id }}">
                                                        <h5 class="mb-0">{{ task.title }}</h5>
                                                    </label>
                                                {% endif %}
                                            </div>
                                            <p class="text-muted">Description: {{ task.description }}</p>
                                            <p class="text-muted">Deadline: {{ task.deadline }}</p>
                                            <p class="text-muted">Status: {{ task.status }}</p>
                                            <p class="text-muted">Importance: {{ task.importance }}</p>
                                            <p class="text-muted">
                                                Category: 
                                                {% if task.category == 'Sports' %}
                                                <img src="../static/image/sport.png" width="50" height="50" align="center">
                                                {% endif %}
                                                {% if task.category == 'Studying' %}
                                                <img src="../static/image/study.png" width="50" height="50" align="center">
                                                {% endif %}
                                                {% if task.category == 'Relaxing' %}
                                                <img src="../static/image/relax.png" width="50" height="50" align="center">
                                                {% endif %}
                                                {% if task.category == 'Others' %}
                                                {{ task.category }}
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div>
                                            <a href="{{ url_for('main.completed', id=task.id) }}" class="btn btn-outline-primary btn-sm me-2">Completed</a>
                                            <a href="{{ url_for('main.edit_task', id=task.id, next='main.history') }}" class="btn btn-outline-primary btn-sm me-2">Edit</a>
                                                <form method="POST" action="{{ url_for('main.delete_task', id=task.id, next='main.index') }}" style="display:inline;" onsubmit="return confirm('Confirm delete?');">
                                                    <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                                                </form>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p class="text-center">You have no tasks yet.</p>
                        {% endif %}
                    {% else %}
                        <p class="text-center">Please <a href="{{ url_for('main.login') }}">log in</a> to see your tasks.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    body {
        background-image: url('{{ url_for("static", filename="image/3.png") }}');
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Arial, sans-serif; /* Adjust font family as needed */
    }
    #nav > label::before{
        content: "";
        width: 30px;
        height: 30px;
        float: left;
        background-image: url('{{ url_for("static", filename="image/emergency.png") }}');
        background-size: 30px 30px;
    }
</style>
{% endblock %}
